*{




}
html {
  font-size: 14px;
  min-height: 100%;
}
body{
  background-color: rgb(139, 139, 139);
}




@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}




body {
  margin: 100px;
  padding: 100px;
}
header h1{
    background-color: white;
}
.Probar button{
  background-color: rgb(143, 142, 142);    
  margin: 1%;
  box-shadow: 3px 4px 3px;
}
.Arriesgar button{
  background-color: rgb(107, 107, 107); 
  margin: 1%;
  box-shadow: 3px 4px 3px;


}
nav{
  background-color: rgb(80, 80, 80);
}
nav a{
  background-color: rgb(189, 189, 189);
  border: 2px solid #000; 
  box-shadow: 3px 4px 3px; 
  color: #000 ;
}


.GanarPantalla div{
  background-color: rgb(32, 179, 32);
  text-align: center;
  margin: 3%;
  padding: 5%;
  font-size: xx-large;
  font-style: italic;
  border: 2px solid #000; 
  box-shadow: 3px 4px 3px; 
 }
footer {
  margin-top: 10px;
  background-color: rgb(77, 77, 77);
  box-shadow: 3px 4px 3px;
 }


 .perderPantalla{
  background-color: rgb(230, 0, 0);
  text-align: center;
  margin: 3%;
  padding: 5%;
  font-size: xx-large;
  font-style: italic;
  border: 2px solid #000; 
  box-shadow: 3px 4px 3px; 
 } 
.Letras{
  border: 2px solid #000; 
  height: auto;
  background-color: rgb(122, 122, 122); 
  box-shadow: 3px 4px 3px;
  font-size: x-large;
}


.Intentos{
  border: 2px solid #000; 
  padding: 5px; 
  margin: 3px 0 3px auto; 
  height: auto;
  background-color: rgb(82, 82, 82); 
  box-shadow: 3px 4px 3px;
}




