@namespace TP04.Views.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<main>
<section class="GanarPantalla">
    <div>
        <h1>¡GANASTE!</h1>
        <h2>¡Has conseguido adivinar la palabra en @ViewBag.intentos intentos!</h2>
        <h2>Palabra: @ViewBag.palabra</h2>
    </div>
</section>
</main>