@{
    ViewData["Title"] = "Index";
}
<section class="inicio">
    <nav>
    <h2><a href = "@Url.Action("Index")">Inicio</a></h2>
    </nav>
    <div>
        <h1>¡Bienvenidos al Ahorcado!</h1>
        <h2>Pulsa <a href="@Url.Action("Jugar")">Acá</a> para empezar a jugar</h2>
        <h3>Buena suerte!</h3>
        
    </div>
</section>
