@namespace TP04.Views.Home
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
</main>
<section class= "perderPantalla">
    <div>
        <h1>PERDISTE :(</h1>
        <h2>Arriesgaste la palabra incorrecta</h2>
        <h2>La palabra era @ViewBag.palabra</h2>
    </div>
</section>
</main>